<h1>Welcome to Adworld</h1>
<p><b>Request you all to use this site wisely ! </b></p>
<p>Please feel to reach me on <b>herokuad@gmail.com</b> for any suggestions or any donations !</p>
<p>For now you can use username as <strong>admin</strong> and password as <strong>secret</strong></p>
<%= link_to 'Post New Ad', new_post_path %>
 <%= render :partial => @posts %>
